.settings {
    width: 100vw;
        display: flex;
        justify-content: left;
}

.settings__container {
    width: auto;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
    width: 100vw;
    grid-template-areas:
    'account tests'
    'preferences tests';
    gap: 60px;
}

.settings__containerAccount {
    grid-area: account;
    width: 35vw;
    height: 250px;
    background-color: var(--color1);
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings__containerAccountPfp {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

.settings__containerAccountName {
    width: 300px;
    margin-left: 30px;
}

.settings__containerAccountInfo {
    width: 240px;
    margin-right: 10px;
}

.settings__containerTest {
    grid-area: tests;
    width: 600px;
    min-height: 650px;
    background-color: var(--color1);
    border-radius: 30px;
    color: var(--color-fg);
}

.settings__containerTestInfo {
    width: inherit;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings__containerTestProfessions {
    padding: 20px;
}
.settings__containerTestProfessions > h1{
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
}

.settings__containerTestProfessions {
    scrollbar-width: 8px;
    scrollbar-color: #ff5404 #1d1f22;
  }
  .settings__containerTestProfessions::-webkit-scrollbar {
    width: 8px;
  }
  
  .settings__containerTestProfessions::-webkit-scrollbar-track {
    background: #1d1f22;
  }
  
  .settings__containerTestProfessions::-webkit-scrollbar-thumb {
    background-color: #ff5404;
    border-radius: 10px;
    border: 3px none #ffffff;
  }

  .settings__containerButtons {
    height: 100px;
    width: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .settings__containerPreferences {
    grid-area: preferences;
    width: 35vw;
    height: 340px;
    background-color: var(--color1);
    border-radius: 30px;
    display: grid;
    align-items: center;
    padding: 10px;
  }


  @media screen and (min-width: 1301px) {
  }

  @media screen and (max-width: 1300px) {
    .settings {
        width: 100vw;
        display: flex;
        justify-content: left;
    }

    .settings__container {
        width: 100vw;
        margin-left: 0px;
    }
  }

  @media screen and (max-width: 1300px) {
    .settings__container {
        grid-template-areas:
    'account'
    'preferences'
    'tests';
    margin-bottom: 30px;
    }

    .settings__containerAccount {
        width: 80vw;
        justify-content: center ;
    }

    .settings__containerTest {
        width: 80vw;
        justify-content: center ;
    }

    .settings__containerPreferences {
        width: 80vw;
        justify-content: center ;
    }
  }

  @media screen and (max-width: 580px) {
    .settings__containerAccount {
        display: grid;
        height: 350px;
        justify-content: center ;
    }

    .settings__containerAccountPfp {
        display: none;
    }

    .settings__containerTestInfo {
        height: auto;
    }
  }