.card {
    min-height: 300px;
    width: 330px;
    background-color: var(--color1);
    border-radius: 20px;
    padding-bottom: 10px;
}

.card__image {
    background-size: cover;
    height: 220px;
    width: 330px;
    border-radius: 20px 20px 0px 0px;
}

.card__imageSelector {
    display: none;
}

.card__image:hover > .card__imageSelector {
    display: flex;
    height: inherit;
    width: inherit;
    justify-content: right;
}

.card__imageSelectorTag {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border-radius: 10px 0px 0px 10px;
    width: 150px;
    height: 22px;
    background-color: var(--color-bg2);
    opacity: 0.8;
}

.card__text {
    padding-top: 10px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__textBox {
    display: block;
    margin-left: 20px;
    width: 220px;
}

.card__textBoxTitle {
    color: var(--color-fg);
}

.card__textBoxLocation {
    color: var(--color-fg);
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}