.facultati {
  height: 100vh;
  width: 100vw;
  background-color: var(--color-bg);
  display: grid;
}

.facultati__lista {
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
}