.login {
    width: 100vw;
    height: 100vh;
}

.login__logo {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login__filler {
    height: 100px;
}

.login__form {
    width: 100vw;
    display: flex;
    justify-content: center;
}

.login__formContainer {
    width: 400px;
    height: 300px;
    background-color: #1d1f22;
}

@media screen and (max-width: 705px) {
    .login__formContainer {
        width: 100vw;
        height: 300px;
    }
}