.navbar {
    width: 100vw;
    height: 8vh;
    color: rebeccapurple;
    background-color: #1d1f22;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar__logo {
    float: left
}

.navbar__search {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90vw
}